# Credenciales y archivos sensibles
*.json
cuenta.txt
suscriptores.txt
alertas_enviadas.txt

# Python
__pycache__/
*.py[cod]
*$py.class
vwen/
env/
.env

# Backups y otros
backups/
/backups
*.zip

# OS
.DS_Store
Thumbs.db
